body {
  font-family: "Open Sans", sans-serif;
  background-image: url(landscape3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-bottom: 0%;
  background-image: linear-gradient(
    to right,
    rgb(255, 5, 255),
    rgb(78, 236, 125),
    rgb(0, 123, 255)
  );
}

.card {
  background-color: rgba(245, 245, 245, 0.5);
}
