body {
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/landscape3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  margin-bottom: 0%;
  background-image: linear-gradient(
    to right,
    rgb(255, 5, 255),
    rgb(78, 236, 125),
    rgb(0, 123, 255)
  );
}

.forecast {
  display: flex;
}

.card {
  /* background-color: rgba(245, 245, 245, 0.5); */
  width: 200px;
  background: black;
  color: white;
  margin: 5px;
  padding: 5px;
}
